/* Auth Container */
.lg-auth {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
  background: #040405; /* Black */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.lg-auth > * {
  margin-top: 100px;
}
/* Left Side */
.lg-auth__left {
  flex: 1;
  background-image: url("https://i.pinimg.com/736x/7a/40/07/7a4007251e2ded3352a0ff7e3eb1636b.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px;
}

/* Right Side */
.lg-auth__right {
  flex: 1;
  padding: 60px 100px;
  background: #0f0f10; /* Softer black */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Title & Headings */
.lg-auth__title,
.lg-auth__heading {
  font-size: 26px;
  font-weight: bold;
  color: #b8a0c9; /* Muted Lavender */
}

/* Form */
.lg-auth__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.lg-auth__input {
  width: 100%;
  padding: 12px;
  border: 1px solid #5c4b73; /* Muted Violet */
  border-radius: 6px;
  font-size: 14px;
  background: #1a1a1d; /* Dark Gray */
  color: #d2cce7; /* Soft Lavender */
  transition: 0.3s;
}

.lg-auth__input:focus {
  border-color: #866a9a; /* Pomp and Power */
  outline: none;
  box-shadow: 0px 0px 8px rgba(134, 106, 154, 0.3);
}

/* Remember Me & Forgot Password */
.lg-auth__form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #b8a0c9; /* Muted Lavender */
}

.lg-auth__checkbox {
  display: flex;
  align-items: center;
}

.lg-auth__checkbox-input {
  margin-right: 8px;
}

.lg-auth__forgot-password {
  color: #9a879d; /* Soft Byzantium */
  text-decoration: none;
}

.lg-auth__forgot-password:hover {
  text-decoration: underline;
}

/* Buttons */
.lg-auth__btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.lg-auth__btn--primary {
  background: #5c4b73; /* Muted Violet */
  color: white;
}

.lg-auth__btn--primary:hover {
  background: #866a9a; /* Pomp and Power */
}

/* Sign Up Text */
.lg-auth__signup-text {
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  color: #b8a0c9; /* Muted Lavender */
}

.lg-auth__signup-text a {
  cursor: pointer;
  color: #9a879d; /* Soft Byzantium */
  text-decoration: none;
}

.lg-auth__signup-text a:hover {
  text-decoration: underline;
}
