section {
  scroll-margin-top: 80px; /* Adjust according to navbar height */
}

.typed-text::after {
  content: "|";
  font-size: inherit;
  color: inherit;
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
