/* Auth Container */
.lh-auth {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
  background: #0c0b1b; /* Dark background (Russian Violet) */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* .lh-auth > * {
  margin-top: 100px;
} */

/* Left Side */
.lh-auth__left {
  flex: 1;
  background-image: url("https://i.pinimg.com/736x/de/6a/50/de6a5085b9e55188693d94381097dcd0.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px;
  /* transition: all 0.3s; */
}

.lh-auth__title {
  font-size: 28px;
}

.lh-auth__free {
  font-size: 32px;
  font-weight: bold;
  color: #866a9a; /* Pomp and Power */
}

/* Right Side */
.lh-auth__right {
  flex: 1;
  padding: 60px 100px;
  background: #0f0e21; /* Even darker shade for contrast */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-left: 3px solid #454978; Marian Blue */
}

.lh-auth__heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #d2cce7; /* Lavender (Web) */
}

/* Form */
.lh-auth__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.lh-auth__input {
  width: 100%;
  padding: 12px;
  border: 1px solid #866a9a; /* Pomp and Power */
  border-radius: 6px;
  font-size: 14px;
  background: #261646; /* Russian Violet */
  color: #d2cce7; /* Light text */
  transition: 0.3s;
}

.lh-auth__input:focus {
  border-color: #aec0e4; /* Powder Blue */
  outline: none;
  box-shadow: 0px 0px 8px rgba(69, 73, 120, 0.4);
}

/* Remember Me & Forgot Password */
.lh-auth__form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #d2cce7; /* Light text */
}

.lh-auth__checkbox {
  display: flex;
  align-items: center;
}

.lh-auth__checkbox-input {
  margin-right: 8px;
}

.lh-auth__forgot-password {
  color: #aec0e4; /* Powder Blue */
  text-decoration: none;
}

.lh-auth__forgot-password:hover {
  text-decoration: underline;
}

/* Buttons */
.lh-auth__btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.lh-auth__btn--primary {
  background: #454978; /* Marian Blue */
  color: white;
}

.lh-auth__btn--primary:hover {
  background: #866a9a; /* Pomp and Power */
}

/* Sign Up Text */
.lh-auth__signup-text {
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  color: #d2cce7; /* Light text */
}

.lh-auth__signup-text a {
  cursor: pointer;
  color: #aec0e4; /* Powder Blue */
  text-decoration: none;
}

.lh-auth__signup-text a:hover {
  text-decoration: underline;
}
